[Desktop Entry]
Version=1.0
Name=GPU Mode Performance
Comment=Activer le mode Performance (300W)
Exec=pkexec /home/yo/Bureau/code/nvidia/gpu-tuning.sh perf
Icon=battery-full-charged # Ou une autre icône appropriée
Path=/home/yo/Bureau/code/nvidia/
Terminal=false
Type=Application
Categories=Utility;
